@-webkit-keyframes toast-in {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 200%, 0);
        transform: translate3d(-50%, 200%, 0)
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes toast-in {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 200%, 0);
        transform: translate3d(-50%, 200%, 0)
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@-webkit-keyframes toast-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
    30% {
        opacity: 1;
        -webkit-transform: translateX(-50%) scale(.8);
        transform: translateX(-50%) scale(.8)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(.8);
        transform: translateX(-50%) scale(.8)
    }
}

@keyframes toast-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
    30% {
        opacity: 1;
        -webkit-transform: translateX(-50%) scale(.8);
        transform: translateX(-50%) scale(.8)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%) scale(.8);
        transform: translateX(-50%) scale(.8)
    }
}

.rc-toast {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999;
    padding: .46875rem;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    font-size: .4375rem;
    max-width: 5.75rem;
    min-width: 5.09375rem;
    background-color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 .0625rem .0625rem 0 rgba(0, 0, 0, .46);
    box-shadow: 0 .0625rem .0625rem 0 rgba(0, 0, 0, .46);
    -webkit-animation: toast-in .6s ease-out;
    animation: toast-in .6s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rc-toast-out {
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: toast-out .6s ease-out;
    animation: toast-out .6s ease-out
}

body {
    background-color: #f1f2f4;
    line-height: 1;
    font-family: Helvetica, sans-serif
}

a, button, div, input, select, textarea {
    -webkit-tap-highlight-color: transparent
}

.hidden {
    display: none
}