<!DOCTYPE html>
<html>

<head>
    <title>所有专场</title>
    <meta charset='utf-8'>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,
           user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="data-spm" content="a2129"/><!--TODO 这是什么-->
    <script type="text/javascript" src="/js/common/sea.js"></script>
    <script type="text/javascript" src="/js/package.js"></script>
    <script type="text/javascript" src="/js/zepto.1.0.4.js" replace="LIB:zepto"></script>
    <script type="text/javascript" src="/js/mtop-login.js"></script>
    <script type="text/javascript" src="/js/common/touch.js"></script>
    <script type="text/javascript" src="/js/bridge-api.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/pmp.css">
</head>

<body data-spm="7389565">

<script type="text/javascript" src="/js/aplus_wap-spm_wap-spmact_wap.js" async
        defer></script>
<script type="text/javascript" id="aplus-sufei" src="/js/index.js" async
        defer></script>

<!--主容器-->
<section id="fframe_container">

</section>

<!--专场模板-->
<script type="text/html" id="listCellTemplate">
    <section id="album-<%=item.albumId%>" class="album">
        <section class="imgdivClass">
            <img src="<%=item.bannerUrl%>" class="bannerImg"/>
        </section>
        <section class="titlehere">
            <%=item.title%>
        </section>
        <section class="status">
            <section class="countclass">
                <section class="count">
                    <% if((item.status == 0 ||item.status == '0') && item.needStart != '1' && item.needStart != 1 ){%>
                <span class="numverclass goldenColor">
                <%} else if(item.status == 1 ||item.status == '1' ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
                <span class="numverclass redColor">
                <%}else{ %>
                <span class="numverclass grayColor">
                <%}%>

                <%=item.itemNum%></span>

                    件宝贝
                </section>


                <% if((item.status == 0 ||item.status == '0') && item.needStart != '1' && item.needStart != 1 ){%>
                <section class="bidcount">
                <span class="numverclass goldenColor">
                <%} else if(item.status == 1 ||item.status == '1' ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
            <section class="bidcount">
                <span class="numverclass redColor">
                <%}else{ %>
            <section class="bidcount2">
                <span class="numverclass grayColor">
                <%}%>

                <%=item.bidCount%></span>&nbsp;人出价
            </section>
            </section>

            <% if((item.status == 0 ||item.status == '0') &&  item.needStart != '1' && item.needStart != 1 ){%>
                <section class="bidTime goldenBackgroundColor">
                    <!--<span class="iconClock">&#xe60b</span>-->

                    <span id="bidtext-<%=item.albumId%>">
                        <%=item.showtext%>
                    </span>
                    <div class="cornertobe"></div>
                </section>
            <%} else if(item.status == 1 ||item.status == '1'  ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
                <section class="bidTime redBackgroundColor">
                    <!--<span class="iconClock">&#xe60b</span>-->
                    <span id="bidtext-<%=item.albumId%>">
                    <%=item.showtext%>
                    </span>

                    <div class="cornerbidding"></div>
                </section>
            <%}else{ %>
                <section class="bidTime2 grayBackgroundColor">
                    <span>已结束</span>
                    <div class="cornerbided"></div>
                </section>
            <%}%>


                </section>

            </section>
</script>

<!--
<section style="width:100%;box-sizing:border-box;">
    <style type="text/css">
        #menu, #my-menu, #alarm-menu, #index-menu {
            bottom: 36px;
        }

        #app-download-banner {
            height: 68px;
            width: inherit;
            position: fixed;
            bottom: 0px;
            left: 0px;
            z-index: 101;
            background-color: #494951;
            background-size: cover;
            box-sizing: border-box;
        }

        #app-download-button {
            width: 80px;
            height: 30px;
            background-color: #e5e5e5;
            border-radius: 4px;
            right: 8px;
            top: 22px;
            text-align: center;
            position: absolute;
            z-index: 102;
        }

        #download-button-text {
            font-size: 14px;
            line-height: 32px;
        }

        #banner-close-button {
            width: 30px;
            height: 28px;
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            background: url(//gtms01.alicdn.com/tps/i1/TB0OPvGHpXXXXaUXVXXfdWQ4pXX-116-108.png) no-repeat center transparent;
            background-size: cover;
        }

        #app-icon {
            background: url(//gtms03.alicdn.com/tps/i3/TB1Sh_rHpXXXXcAXVXX289R_VXX-240-240.png) no-repeat center transparent;
            width: 30px;
            height: 30px;
            background-size: cover;
            position: absolute;
            top: 22px;
            left: 20px;
            border-radius: 7px;
        }

        #banner-description {
            position: absolute;
            top: 22px;
            left: 60px;
            width: 200px;
            height: 30px;
            font-size: 13px;
            line-height: 15px;
            background-color: #494951;
        }

        #banner-description-span-top {
            position: absolute;
            color: white;
            top: 1px;
        }

        #banner-description-span-bottom {
            position: absolute;
            top: 16px;
            color: white;
        }

        #stupid-banner-extend {
            height: 68px;
            width: 100%;
        }

        @media screen and (min-width: 360px) {
            #app-download-button {
                right: 30px;
            }

            #app-icon {
                width: 36px;
                height: 36px;
                top: 20px;
                left: 30px;
                border-radius: 9px;
            }

            #banner-description {
                top: 21px;
                left: 75px;
                height: 32px;
            }

            #banner-description-span-top {
                top: 0px;
            }

            #banner-description-span-bottom {
                top: 18px;
            }
        }
    </style>
    <div id="app-download-banner" style="display:none">
        <div id="app-download-button">
            <span id="download-button-text">立即捡漏</span>
        </div>
        <div id="banner-close-button"></div>
        <div id="app-icon"></div>
        <div id="banner-description">
            <span id="banner-description-span-top">名表，名包，奢侈品1元起拍</span>
            <span id="banner-description-span-bottom">拍卖会·手机客户端</span>
        </div>
    </div>
    <section id="stupid-banner-extend" style="display: none">
    </section>

    <script>
        (function () {
            var nullFunction = function () {
            };
            var KEY_WHITE_LIST = 'pathWhiteList';
            var KEY_UA_BLACK_LIST = 'userAgentBlackList';

            var SBUtil = {
                shouldDisplay: function (ruleData) {
                    return !(this.isPaimaiApp() || this.isTaobaoApp()) &&
                            (ruleData[KEY_WHITE_LIST] && this.isInPathWhiteList(ruleData[KEY_WHITE_LIST])) && !(ruleData[KEY_UA_BLACK_LIST] && this.isInUserAgentBlackList(ruleData[KEY_UA_BLACK_LIST]));
                },
                isInPathWhiteList: function (pathWhiteList) {
                    var path = this.getPath();
                    for (var index in pathWhiteList) {
                        if (pathWhiteList[index].path && pathWhiteList[index].path.trim() == path) {
                            return true; //如果已经配置了应该展示，其他不展示
                        }
                    }
                    return false;
                },
                isInUserAgentBlackList: function (userAgentBlackList) {
                    var userAgent = window.navigator.userAgent.toLowerCase();
                    for (var index in userAgentBlackList) {
                        if (userAgent.indexOf(userAgentBlackList[index].trim()) != -1) {
                            return true;
                        }
                    }
                    return false;
                },
                getTriggerDate: function (date) {
                    return date.getFullYear() + '-' + date.getMonth() + '-' + date.getDate();
                },
                getPath: function () {
                    return window.location.pathname;
                },
                isPaimaiApp: function () {
                    return this.isPaimaiIos() || this.isPaimaiAndroid();
                },
                isPaimaiIos: function () {
                    var ua = window.navigator.userAgent;
                    return ua && ua.indexOf('paimai_ios') >= 0;
                },
                isPaimaiAndroid: function () {
                    var ua = window.navigator.userAgent;
                    return ua && ua.indexOf('tbauction_android') >= 0;
                },
                isTaobaoApp: function () {
                    return (/AliApp\(TB\//i).test(window.navigator.userAgent);
                },
                isIos: function () {
                    return /iphone|ipod|ipad/i.test(window.navigator.userAgent);
                }
            };


            var StupidBannerController = {
                display: false,
                scrolled: false,
                banner: null,
                localStorageAvailable: true,
                height: 68,
                pageController: [],
                init: function (stupidBannerRuleData) {
                    if (!window.Zepto || !stupidBannerRuleData) {
                        return;
                    }
                    this.banner = $('#app-download-banner');
                    var stupidBanner = this;
                    $('#download-button-text').on('tap', function () {
                        stupidBanner.openUrl();
                    });
                    $('#banner-close-button').on('tap', function () {
                        stupidBanner.closeBanner();
                    });
                    try {
                        localStorage.writeable = 'true';
                        this.localStorageAvailable = true;
                    } catch (e) {
                        this.localStorageAvailable = false;
                    }
                    var date = new Date();
                    var triggerDay = SBUtil.getTriggerDate(date);
                    $(window).one('scroll', function () {
                        stupidBanner.scrollListener();
                    });
                    if (!this.checkLocalStorage(triggerDay) || (stupidBannerRuleData && !SBUtil.shouldDisplay(stupidBannerRuleData))) {
                        for (var index in this.pageController) {
                            this.pageController[index].onBannerDismiss();
                        }
                        return;
                    }
                    this.showBanner(triggerDay);
                },
                showBanner: function (triggerDay) {
                    this.banner.show();
                    this.display = true;
                    if (this.localStorageAvailable) {
                        localStorage.stupidBannerTriggered = "true";
                        localStorage.stupidBannerClosed = 'false';
                        localStorage.stupidBannerTriggerDay = triggerDay;
                    }
                    for (var index in this.pageController) {
                        this.pageController[index].onBannerShowUp();
                    }
                },
                closeBanner: function () {
                    this.banner.hide();
                    this.display = false;
                    if (this.localStorageAvailable) {
                        localStorage.stupidBannerClosed = 'true';
                    }
                    ;
                    for (var index in this.pageController) {
                        this.pageController[index].onBannerDismiss();
                    }
                },
                scrollListener: function () {
                    this.scrolled = true;
                    for (var index in this.pageController) {
                        this.pageController[index].onScroll();
                    }
                    ;
                },
                checkLocalStorage: function (triggerDay) {
                    return !this.localStorageAvailable || !(localStorage.stupidBannerTriggered && localStorage.stupidBannerTriggered == 'true'
                            && localStorage.stupidBannerTriggerDay && localStorage.stupidBannerTriggerDay == triggerDay
                            && localStorage.stupidBannerClosed && localStorage.stupidBannerClosed == 'true');
                },
                openUrl: function () {
                    document.location.href = "//h5.m.taobao.com/paimai/v2/app/jump2app.html?channel_id=702851";
                },
                addPageController: function (pageController) {
                    this.pageController.push(pageController);
                }
            };

            var SBController;
            if (SBUtil.isIos()) {
                SBController = {
                    banner: null,
                    stupidBanner: null,
                    onBannerShowUp: function () {
                        var windowWidth = window.innerWidth;
                        var windowHeight = window.innerHeight;
                        var top = windowHeight - 68;
                        this.banner.css('bottom', 'auto');
                        this.banner.css('width', windowWidth);
                        this.banner.css('top', top);
                    },
                    onBannerDismiss: nullFunction,
                    onScroll: function () {
                        if (this.stupidBanner.display) {
                            this.banner.css('bottom', '0');
                            this.banner.css('top', '');
                        }
                    },
                    init: function (stupidBanner) {
                        this.stupidBanner = stupidBanner;
                        this.banner = $('#app-download-banner');
                    }
                };
            }

            var FABController = {
                marginBottom: 36,
                height: 44,
                menu: null,
                myMenu: null,
                alarmMenu: null,
                indexMenu: null,
                onBannerShowUp: nullFunction,
                onBannerDismiss: nullFunction,
                onScroll: nullFunction,
                stupidBanner: null,
                init: function (stupidBanner) {
                    this.stupidBanner = stupidBanner;
                    this.menu = $('#menu');
                    this.myMenu = $('#my-menu');
                    this.alarmMenu = $('#alarm-menu');
                    this.indexMenu = $('#index-menu');
                },
                clearTop: function () {
                    this.placeRelativeToTop('');
                },
                clearBottom: function () {
                    this.placeRelativeToBottom('');
                },
                ignoreBottom: function () {
                    this.placeRelativeToBottom('auto');
                },
                placeRelativeToTop: function (marginTop) {
                    this.menu.css('top', marginTop);
                    this.myMenu.css('top', marginTop);
                    this.alarmMenu.css('top', marginTop);
                    this.indexMenu.css('top', marginTop);
                },
                placeRelativeToBottom: function (marginBottom) {
                    this.menu.css('bottom', marginBottom);
                    this.myMenu.css('bottom', marginBottom);
                    this.alarmMenu.css('bottom', marginBottom);
                    this.indexMenu.css('bottom', marginBottom);
                },
                place: function (marginBottom, scrolled) {
                    if (scrolled) {
                        this.placeRelativeToBottom(marginBottom);
                    } else {
                        var wHeight = window.innerHeight;
                        var marginTop = wHeight - marginBottom - this.height;
                        this.placeRelativeToTop(marginTop);
                    }
                }
            };

            if (!SBUtil.isIos()) {
                FABController.onBannerShowUp = function () {
                    this.placeRelativeToBottom(this.marginBottom + this.stupidBanner.height);
                };
                FABController.onBannerDismiss = function () {
                    this.clearBottom();
                };
            } else {
                FABController.onBannerShowUp = function () {
                    if (!this.stupidBanner.scrolled) {
                        this.ignoreBottom();
                    }
                    this.place(this.marginBottom + this.stupidBanner.height, this.stupidBanner.scrolled);
                };
                FABController.onBannerDismiss = function () {
                    this.place(this.marginBottom, this.stupidBanner.scrolled);
                };
                FABController.onScroll = function () {
                    this.clearTop();
                    if (this.stupidBanner.display) {
                        this.placeRelativeToBottom(this.marginBottom + this.stupidBanner.height);
                    } else {
                        this.placeRelativeToBottom(this.marginBottom);
                    }
                };
            }

            var DetailOptController;
            if (document.location.pathname == '/paimai/detail/detailV2.html' || document.location.pathname == '/paimai/tmp/detail/detailV2.html') {
                DetailOptController = {
                    marginBottom: 0,
                    height: 44,
                    extendedHeight: 100,
                    extended: false,
                    actionSection: null,
                    extension: null,
                    onBannerShowUp: nullFunction,
                    onBannerDismiss: nullFunction,
                    onScroll: nullFunction,
                    stupidBanner: null,
                    init: function (stupidBanner) {
                        this.stupidBanner = stupidBanner;
                        this.actionSection = $('#action_section');
                        this.extension = $('#stupid-banner-extend');
                    },
                    clearTop: function () {
                        this.placeRelativeToTop('');
                    },
                    clearBottom: function () {
                        this.placeRelativeToBottom('');
                    },
                    ignoreBottom: function () {
                        this.placeRelativeToBottom('auto');
                    },
                    placeRelativeToTop: function (marginTop) {
                        this.actionSection.css('top', marginTop);
                    },
                    placeRelativeToBottom: function (marginBottom) {
                        this.actionSection.css('bottom', marginBottom);
                    },
                    place: function (marginBottom, scrolled) {
                        if (scrolled) {
                            this.placeRelativeToBottom(marginBottom);
                        } else {
                            var wHeight = window.innerHeight;
                            var marginTop = wHeight - marginBottom - this.height;
                            this.placeRelativeToTop(marginTop);
                        }
                    },
                    showExtension: function () {
                        this.extension.show();
                    },
                    hideExtension: function () {
                        this.extension.hide();
                    }
                };
            }

            window.StupidBanner = {
                init: function (stupidBannerRuleData) {
                    if (SBController) {
                        SBController.init(StupidBannerController);
                        StupidBannerController.addPageController(SBController);
                    }

                    FABController.init(StupidBannerController);
                    StupidBannerController.addPageController(FABController);

                    if (DetailOptController) {
                        DetailOptController.init(StupidBannerController);

                        if (!SBUtil.isIos()) {
                            DetailOptController.onBannerShowUp = function () {
                                this.placeRelativeToBottom(this.stupidBanner.height);
                                this.showExtension();
                            };
                            DetailOptController.onBannerDismiss = function () {
                                this.clearBottom();
                                this.hideExtension();
                            };
                        } else {
                            DetailOptController.onBannerShowUp = function () {
                                if (!this.stupidBanner.scrolled) {
                                    this.ignoreBottom();
                                }
                                this.place(this.marginBottom + this.stupidBanner.height, this.stupidBanner.scrolled);
                                this.showExtension();
                            };
                            DetailOptController.onBannerDismiss = function () {
                                if (this.extended && !this.stupidBanner.scrolled) {
                                    var wHeight = window.innerHeight;
                                    var marginTop = wHeight - this.marginBottom - this.extendedHeight;
                                    this.placeRelativeToTop(marginTop);
                                } else {
                                    this.place(this.marginBottom, this.stupidBanner.scrolled);
                                }
                                this.hideExtension();
                            };
                            DetailOptController.onTap = function () {
                                if (!this.stupidBanner.scrolled) {
                                    this.extended = true;
                                    if (this.stupidBanner.display) {
                                        var wHeight = window.innerHeight;
                                        var marginTop = wHeight - this.marginBottom - this.extendedHeight - this.stupidBanner.height;
                                        this.placeRelativeToTop(marginTop);
                                    } else {
                                        var wHeight = window.innerHeight;
                                        var marginTop = wHeight - this.marginBottom - this.extendedHeight;
                                        this.placeRelativeToTop(marginTop);
                                    }
                                }
                            };
                            var onTapCallback = function () {
                                DetailOptController.onTap();
                            };
                            DetailOptController.actionSection.on('tap', onTapCallback);
                            DetailOptController.onScroll = function () {
                                DetailOptController.actionSection.off('tap', onTapCallback);
                                this.clearTop();
                                if (this.stupidBanner.display) {
                                    this.placeRelativeToBottom(this.marginBottom + this.stupidBanner.height);
                                } else {
                                    this.placeRelativeToBottom(this.marginBottom);
                                }
                            };
                        }
                        StupidBannerController.addPageController(DetailOptController);
                    }


                    StupidBannerController.init(stupidBannerRuleData);


                }
            };
        })(window);

        (function () {
            var stupidBannerRuleData = {};
            window.stupidBannerRuleData = stupidBannerRuleData;
        })();
    </script>


    <script>
        (function () {
            var KEY_WHITE_LIST = 'pathWhiteList';
            var ruleList = [];

            var rule = {};
            rule.path = "/paimai/v2/home/index.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai//v2/special/special.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/judicial/judicialList.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/special/special.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/judicial/judicialActivity.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/detail/detailV2.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/pmp/qiangList.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/pmp/pmplist.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai//v2/pmp/pmplist.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/seller/sellerInfo.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/home/SellerSessions.html";
            ruleList.push(rule);
            var rule = {};
            rule.path = "/paimai/v2/pmp/SellerAuctions.html";
            ruleList.push(rule);

            window.stupidBannerRuleData[KEY_WHITE_LIST] = ruleList;
        })();
    </script>


    <script>
        (function () {
            var KEY_UA_BLACK_LIST = 'userAgentBlackList';
            var uaList = [];

            uaList.push("fleamarket");
            uaList.push("aliapp(fm");
            uaList.push("alitrip");
            uaList.push("alipp(lx");

            window.stupidBannerRuleData[KEY_UA_BLACK_LIST] = uaList;
        })();
    </script>

</section>-->
</body>
<script type="text/javascript">

    //var config_ = config('0.5.705', {debug: false, base: '../../'});
    //先配置版本
    seajs.config({base: '/js/'});//TODO 为什么不行
    //引入资源文件
    var imports = [];
    <!---js对应的路径-->
    imports.push('/js/config.js');
    imports.push('/js/utils.js');
    imports.push('/js/ListView.js');
    imports.push('/js/template.js');
    imports.push('/js/iscroll5.js');
    imports.push('/js/timeHelper.js');
    imports.push('/js/sellerAdapter.js');
    imports.push('/js/DateUtil.min.js');
    imports.push('/js/StringUtil.min.js');
    imports.push('/js/StringExt.min.js');
    imports.push('/js/DateExt.min.js');
    //开始引入资源文件
    seajs.use(imports, function () {
        seajs.use('/js/SellerSessions.js', function (home) {
            home.initialize();
        })
    });
</script>

</html>