<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <meta charset='utf-8'>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript" src="/js/common/sea.js"></script>
    <!--<script type="text/javascript" src="/js/package.js"></script>-->
    <script type="text/javascript" src="/js/common/zepto.1.0.4.js" replace="LIB:zepto"></script>
    <script type="text/javascript" src="/js/common/touch.js"></script>
    <!--<script type="text/javascript" src="/js/bridge-api.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/pmp.css">
</head>

<!--主容器-->
<section id="fframe_container">
</section>

<!--首页专场-->
<script type="text/plain" id="bannerTemplate">
     <section class="banner">
        <img src="<%=item.bannerUrl%>" >
     </section>
















</script>

<!--专场模板-->
<script type="text/html" id="listCellTemplate">
    <section id="album-<%=item.albumId%>" class="album">
        <section class="imgdivClass">
            <img src="<%=item.bannerUrl%>" class="bannerImg"/>
        </section>
        <section class="titlehere">
            <%=item.title%>
        </section>
        <section class="status">
            <section class="countclass">
                <section class="count">
                    <% if((item.status == 0 ||item.status == '0') && item.needStart != '1' && item.needStart != 1 ){%>
                <span class="numverclass goldenColor">
                <%} else if(item.status == 1 ||item.status == '1' ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
                <span class="numverclass redColor">
                <%}else{ %>
                <span class="numverclass grayColor">
                <%}%>

                <%=item.itemNum%></span>

                    件宝贝
                </section>


                <% if((item.status == 0 ||item.status == '0') && item.needStart != '1' && item.needStart != 1 ){%>
                <section class="bidcount">
                <span class="numverclass goldenColor">
                <%} else if(item.status == 1 ||item.status == '1' ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
            <section class="bidcount">
                <span class="numverclass redColor">
                <%}else{ %>
            <section class="bidcount2">
                <span class="numverclass grayColor">
                <%}%>

                <%=item.bidCount%></span>&nbsp;人出价
            </section>
            </section>

            <% if((item.status == 0 ||item.status == '0') &&  item.needStart != '1' && item.needStart != 1 ){%>
                <section class="bidTime goldenBackgroundColor">
                    <!--<span class="iconClock">&#xe60b</span>-->

                    <span id="bidtext-<%=item.albumId%>">
                        <%=item.showtext%>
                    </span>
                    <div class="cornertobe"></div>
                </section>
            <%} else if(item.status == 1 ||item.status == '1'  ||((item.status == 0 ||item.status == '0') && item.needStart == "1")) {%>
                <section class="bidTime redBackgroundColor">
                    <!--<span class="iconClock">&#xe60b</span>-->
                    <span id="bidtext-<%=item.albumId%>">
                    <%=item.showtext%>
                    </span>

                    <div class="cornerbidding"></div>
                </section>
            <%}else{ %>
                <section class="bidTime2 grayBackgroundColor">
                    <span>已结束</span>
                    <div class="cornerbided"></div>
                </section>
            <%}%>


                </section>

            </section>
</script>

</body>

<script type="text/javascript">
    //先配置版本
    //seajs.config({base: '../js/'});//TODO 为什么不行
    //引入资源文件
    var imports = [];
    <!---js对应的路径-->
    //imports.push('/js/config.js');
    imports.push('/js/utils.js');
    imports.push('/js/ListView.js');
    imports.push('/js/template.js');
    imports.push('/js/iscroll5.js');
    imports.push('/js/timeHelper.js');
    imports.push('/js/DateExt.js');
    imports.push('/js/DateUtil.js');
    imports.push('/js/StringExt.js');
    imports.push('/js/StringUtil.js');
    imports.push('/js/sellerAdapter.js');
    //开始引入资源文件
    seajs.use(imports, function () {
        seajs.use('/js/SellerSessions.js', function (home) {
            home.initialize();
        })
    });
</script>

</html>