<!DOCTYPE html>
<html class="ks-webkit601 ks-webkit ks-safari601 ks-safari">
<head><title>拍品详情</title>
    <meta charset="UTF-8">
    <meta name="data-spm" content="a2129">
    <meta name="apple-mobile-web-app-capable" content="yes"><!--TODO 干啥的-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"><!--TODO 干啥的-->
    <meta name="format-detection" content="telephone=no">
    <meta id="WV.Meta.EnableLongPressEvent" value="true"><!--TODO 干啥的-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,
           user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <style>
        html {
            font-size: 40px !important;
        }

        body {
            font-size: 15px
        }
    </style>
    <script src="/js/hairlines_0.0.2_index.js"></script>
    <script type="text/javascript" src="/js/common/sea.js"></script>
    <script type="text/javascript" src="/js/zepto.1.0.4.js" replace="LIB:zepto"></script>
    <script type="text/javascript" src="/js/common/zepto-touch.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/m-base_2.0.1_reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/p_detail_index.css">
</head>

<body>
<div id="goods-detail" class="main-container hide">
    <div class="wrapper">
        <div class="rc-toast rc-toast-out" style="left: 200%; visibility: hidden;"></div>
        <div class="loading hidden">
            <div class="km-loading">
                <div class="loading-img"></div>
            </div>
        </div>
        <div class="first-screen">
            <!--图片轮播-->
            <div class="rc-slide">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" v-for="(showPic,index) in showPics"
                            :data-slide-to="index" :class="{active:0==index}"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item" :class="{active:0==index}" v-for="(showPic,index) in showPics">
                            <img :src="showPic" alt=""/>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="rc-statusbar before"><!--TODO 计算状态-->
            <div class="align-left">
                <span class="status-icon pm-iconfont">时</span>
                <span class="status-flag">{{auctionStatus.desc}}</span>
                <span class="main">
                        <span class="time">
                            {{auctionStatus.showtext}}
                        </span>
                </span>
            </div>
            <div class="rc-statusbar-shadow"></div>
        </div>
        <section class="pai-info pai-info-before">
            <div class="header">
                <p class="title">{{title}}</p>
                <!--<div class="rc-mobile-share pm-share">
                    <div class="rc-mobile-share-wrap">
                        <b class="icon pm-util-iconfont">空</b>提醒
                    </div>
                </div>-->
            </div>
            <div class="basic-price">
                <div class="unit"><b>RMB</b><span>当前价</span></div>
                <div class="price-number">
                    <span class="price-comma">
                        <em class="price-comma-price">{{currentPrice}}元</em>
                    </span>
                </div>
                <!--<div class="price-format">1300元</div>-->
            </div>
            <!--参加情况-->
            <!--<div class="count-info">
                <span class="cell has-next">
                    <span class="title">围观</span>
                    <span class="number">4</span>次
                </span>
                <span class="cell has-next has-prev">
                    <span class="title">报名</span>
                    <span class="number">0</span>人
                </span>
                <span class="cell has-prev">
                    <span class="title">设置提醒</span>
                    <span class="number">0</span>人
                </span>
            </div>-->
        </section>
        <!--拍卖纪录--><!--TODO 增加拍卖纪录-->
        <!--<section class="pai-record" data-spm="pai-record">
            <div class="header line">
                <b class="icon pm-iconfont">录</b>
                <span class="title">拍卖记录</span>
                <span class="count"><b>0</b>条</span>
                <b class="right-anchor disabled">右</b>
            </div>
            <ul class="record-list" style="height: 1.0625rem;">
                <li class="record-row status-lead">
                    <b class="icon">
                        <b class="type-icon cell pm-iconfont">显</b>
                    </b>
                    <span class="nick cell">Q6059</span>
                    <span class="status cell">领先</span>
                    <span class="time cell">01.18 14:56:11</span>
                    <span class="user-currentPrice cell">
                        <span class="currentPrice-comma">
                            <i class="currentPrice-comma-rmb">￥</i>
                            <em class="currentPrice-comma-currentPrice">10,000</em>
                        </span>
                    </span>
                </li>
            </ul>
        </section>-->
    </div>
    <div class="second-screen inited" data-spm="second-screen">
        <div class="rc-tabs-content">
            <div class=" rc-tabs-tabpane">
                <div class="rc-param">
                    <dl class="list">
                        <dt class="list-title">拍品信息</dt>
                        <dd class="twoColumn item">
                            <div class="param-name">起拍价</div>
                            <div class="param-value">
                                <span class="currentPrice-comma">
                                    <i class="currentPrice-comma-rmb">￥</i>
                                    <em class="currentPrice-comma-currentPrice">{{startingPrice}}</em>
                                </span>
                            </div>
                        </dd>
                        <dd class="twoColumn item" v-if="hasCashDeposit">
                            <div class="param-name">保证金</div>
                            <div class="param-value">
                                <span class="currentPrice-comma">
                                    <i class="currentPrice-comma-rmb">￥</i>
                                    <em class="currentPrice-comma-currentPrice">{{cashDeposit}}</em>
                                </span>
                            </div>
                        </dd>
                        <dd class="twoColumn item">
                            <div class="param-name">加价幅度</div>
                            <div class="param-value">
                                <span class="currentPrice-comma">
                                    <i class="currentPrice-comma-rmb">￥</i>
                                    <em class="currentPrice-comma-currentPrice">{{bidIncrement}}</em>
                                </span>
                            </div>
                        </dd>
                        <dd class="twoColumn item">
                            <div class="param-name">延时周期</div>
                            <div class="param-value">{{delayCycle}}分/次</div>
                        </dd>
                    </dl>
                    <dl class="list">
                        <dt class="list-title">拍品特色服务</dt>
                        <dd class="oneColumn item">
                            <div class="param-name">鉴定证书</div>
                            <div class="param-value">此款拍品已取得省级以上鉴定证书或作者本人出具的书面鉴定文本</div>
                        </dd>
                        <dd class="oneColumn item">
                            <div class="param-name">拍前预展</div>
                            <div class="param-value">此款拍品提供线下预展，欢迎现场鉴赏</div>
                        </dd>
                        <dd class="oneColumn item no-border">
                            <div class="param-name">艺术家授权</div>
                            <div class="param-value">此款拍品拍卖已得到原作者授权，拍品更可靠</div>
                        </dd>
                    </dl>
                </div>
                <div>
                    <div class="help-tips">
                        <div class="title">友情提示</div>
                        <div class="text">
                            真伪：送拍机构的企业资质已审核，但拍品介绍（图片、文字、视频等）及拍品资质文件（来源证明、鉴定证书等）均由机构自行发布并上传，所有拍品相关信息由送拍机构自行承担相应担保责任；
                            <br> 售后：拍品多为孤品性质类商品，“7天退货”服务为卖家可选服务保障，不强制送拍机构提供，竞拍前请充分考虑；
                        </div>
                    </div>
                </div>
                <div class="list-title">图文详情</div>
                <!--<div class="rc-video">
                    <video id="rc-video-9" controls="" preload="none"
                           poster="/exampleImg/videoPoster.jpg">
                        <source src="/exampleImg/video.m3u8"
                                type="application/x-mpegurl">
                        <source src="/exampleImg/video.mp4"
                                type="video/mp4">
                        <p>您的浏览器不支持视频播放</p></video>
                </div>--><!--TODO 增加视频支持-->
                <div class="cdn-content">
                    <div class="cdn-content-desc"><p>
                        <!--商品图片-->
                        <span style="line-height: 1.5;">
                                <img
                                        class="J_LazyLoad" data-network="Q75,Q30"
                                        v-for="descPic in descPics" :src="descPic">
                        </span>
                        <!--收藏证书-->
                        <span style="line-height: 1.5;">
                                <img
                                        class="J_LazyLoad" data-network="Q75,Q30"
                                        src="https://gw.alicdn.com/imgextra/i4/2738770841/TB2qc9sppXXXXX3XFXXXXXXXXXX_!!0-paimai.jpg">
                        </span>
                        <!--授权证书-->
                        <span style="line-height: 1.5;">
                                    <img class="J_LazyLoad" data-network="Q75,Q30"
                                         src="https://gw.alicdn.com/imgextra/i1/2738770841/TB2HiXyauLyQeBjy0FaXXXiDVXa_!!0-paimai.jpg">
                        </span>
                        <!--送货相关-->
                        <span style="line-height: 1.5;">
                                <img
                                        class="J_LazyLoad" data-network="Q75,Q30"
                                        src="https://gw.alicdn.com/imgextra/i2/2738770841/TB2gB8LnVXXXXcWXpXXXXXXXXXX_!!0-paimai.jpg">
                                <img
                                        class="J_LazyLoad" data-network="Q75,Q30"
                                        src="https://gw.alicdn.com/imgextra/i3/2738770841/TB2CcasnVXXXXX7XXXXXXXXXXXX_!!0-paimai.jpg">
                                <img
                                        class="J_LazyLoad" data-network="Q75,Q30"
                                        src="https://gw.alicdn.com/imgextra/i1/2738770841/TB2EBWjnVXXXXaTXXXXXXXXXXXX_!!0-paimai.jpg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bid-toast bid-toast-hidden bid-toast">
        <div class="pm-iconfont icon">警</div>
        <div class="title">
            <div class="main-title"></div>
            <div class="sub-title"></div>
        </div>
    </div>
    <section class="main-op" data-spm="main-op">
        <div class="pm-remind-wrap">
            <div class="loading hidden">
                <div class="km-loading">
                    <div class="loading-img"></div>
                </div>
            </div>
            <div class="rc-toast rc-toast-out" style="left: 200%; visibility: hidden;"></div>
            <!--<div class="pm-remind main-op-remind"><i class="pm-util-iconfont">空</i><span>提醒</span></div>-->
        </div>
        <div class="main-btn" id="auction" :class="{'main-btn-disable':!auctionStatus.underAuction,'main-btn-active':auctionStatus.underAuction}">
            <div class="jiaobao">
                <p class="action">竞拍</p>
                <p class="foregift" v-if="hasCashDeposit">
                    (保证金金额<b>￥</b>{{cashDeposit}})
                </p>
            </div>
        </div>
    </section>
    <!-- <div class="rc-top rc-top-hidden">
         <i class="top-icon pm-util-iconfont">顶</i>
         <span class="text">顶部</span>
     </div>-->
    <!-- react-empty: 111 -->
</div>
</div>
<script src="/js/common/kimi-min.js"></script>
<script src="/js/common.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/common/bootstrap.js"></script>
<script src="/js/common/vue.js"></script>
<!--<script src="/js/p_detail_index.js"></script>-->
<script type="application/javascript">
    var imports = [];
    <!---js对应的路径-->
    imports.push('/js/config.js');
    imports.push('/js/utils.js');
    imports.push('/js/template.js');
    imports.push('/js/iscroll5.js');
    imports.push('/js/timeHelper.js');
    imports.push('/js/DateUtil.min.js');
    imports.push('/js/StringUtil.min.js');
    imports.push('/js/StringExt.min.js');
    imports.push('/js/DateExt.min.js');

    var endTime;
    //开始引入资源文件
    seajs.use(imports, function () {
        Zepto().toastUtil.showLoading();
        $.getJSON('/goods/' + getUrlParam("goodsId"), function (response) {
            //获取拍卖状态和对应文字描述
            var auctionStatus = {};
            var now = new Date();
            var startTime = Zepto().dateUtil.parse(response.session.startTime, "yyyy-MM-dd hh:mm:ss");
            endTime = Zepto().dateUtil.parse(response.session.endTime, "yyyy-MM-dd hh:mm:ss");
            if (now.getTime() >= endTime.getTime()) {
                auctionStatus.underAuction = false;
                auctionStatus.desc = "已结束";
                auctionStatus.showtext = "";
            } else if (now.getTime() >= startTime.getTime()) {
                auctionStatus.underAuction = true;
                auctionStatus.desc = "正在拍卖";
                auctionStatus.showtext = Zepto().dateUtil.format(endTime, "MM月dd日 hh:mm") + " 结束";
            } else {
                auctionStatus.underAuction = false;
                auctionStatus.desc = "即将开始";
                auctionStatus.showtext = Zepto().dateUtil.format(startTime, "MM月dd日 hh:mm") + " 开始";
            }

            console.log("auctionStatus.underAuction=" + auctionStatus.underAuction)
            var goodsDetail = new Vue({
                el: '#goods-detail',
                data: {
                    title: response.title,
                    showPics: response.showPics,
                    auctionStatus: auctionStatus,
                    startingPrice: response.startingPrice,
                    currentPrice: response.currentPrice,
                    bidIncrement: response.bidIncrement,
                    hasCashDeposit: response.hasCashDeposit,
                    cashDeposit: response.cashDeposit,
                    delayCycle: response.delayCycle,
                    descPics: response.descPics
                }
            });
            window.goodsDetail = goodsDetail;

            Zepto("#auction").tap(function (event) {
                //判断拍卖是否结束
                if ("正在拍卖" == auctionStatus.desc) {
                    $.getJSON('/user', function (response) {
                        if (!response.phoneNumber) {
                            window.location.href = "/register.html?from=goods&goodsId=" + getUrlParam("goodsId");
                        } else {
                            window.location.href = "/auctionMall.html?goodsId=" + getUrlParam("goodsId");
                        }
                    });
                }
            });

            Zepto("#goods-detail").removeClass("hide");

            Zepto().toastUtil.dismissLoading();
        });
    });

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }
</script>
</body>
</html>